body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* 적절한 최대 너비를 설정하세요 */
    width: 100%;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
}

#answerInput {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

#resultMessage {
    font-size: 16px;
    margin-bottom: 20px;
    color: #d9534f; /* 부적절한 답변에 대한 색상 설정 (여기서는 부적절한 답변을 강조하기 위해 빨간색 사용) */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

select {
    font-size: 14px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* 추가적으로 스타일을 수정하거나 새로운 스타일을 추가할 수 있습니다. */
